# cache
__pycache__/
.pytest_cache

# data and results
data*
results*

# torch weights
*.pt

# log and analysis output
*.log
*.out
*.txt
*.obj

# libraries
*.egg
*.egg-info

# test coverage report
testcov_report.md
.coverage

# environments
.env
.envrc
.venv